
<title>Hotels</title>
<table>
	<tr>
		<td style='font-weight: bold; width: 10%'>Hotel id</td>
		<td style='font-weight: bold; width: 10%'>Hotel Name</td>
		<td style='font-weight: bold; width: 10%'>Number of reviews</td>
		<td style='font-weight: bold; width: 10%'>Address</td>
		<td style='font-weight: bold; width: 10%'>Number of Stars</td>
		<td style='font-weight: bold; width: 10%'>Amenities</td>
		<td style='font-weight: bold; width: 20%'>Image</td>
		<td style='font-weight: bold; width: 10%'>Snaptravel Price</td>
		<td style='font-weight: bold; width: 10%'>Hotel.com Price</td>
	</tr>
{% for hotel in result%}
	<tr>
		<td style='font-weight: bold'>{{ hotel.id }}</td>
		<td>{{ hotel.hotel_name }}</td>
		<td>{{ hotel.num_reviews }}</td>
		<td>{{ hotel.address }}</td>
		<td>{{ hotel.num_stars }}</td>
		<td>
			{% for amenity in hotel.amenities %}
				<span>{{ amenity }}</span><br>
			{% endfor %}
		</td>
		<td><img src={{ hotel.image_url }} style='width: 100%'></td>
		<td>{{ hotel.price }}</td>
		<td>{{ hotel.competitor_price }}</td>
	</tr>
{% endfor %}
</table>
