
<title>Full Stack Demo</title>
<form action="/hotels" method="post">
	City:
  <input type="text" name="city" value="toronto"></input>
  <br>Checkin:
  <input type="text" name="checkin" value="1531012300"></input>
  <br>Checkout:
  <input type="text" name="checkout" value="1531019300"></input>
  <br><button type="submit" name="submit">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>